vendor
node_modules
web
npm-debug.log
composer.lock
yarn.lock
runner.yml
.idea
.DS_Store
package-lock.json
phpunit.xml
.stylelintrc.json
docker-compose.override.yml
.env
yarn-error.log
*.tar.gz

/modules/ilo_base_theme_companion/dist/
/dist/
/ilo_base_theme/
