/**
 * @file
 * Visual styles for the Password widgets.
 */

/**
 * Password confirm widget styles.
 */
.password-confirm {
  --space-l: 1.5rem; /* 1.5 * 16px = 24px */
  --space-xs: 0.5rem; /* 0.5 * 16px = 8px */
  --progress-bar-border-size: 1px;
  --progress-bar-small-size: calc(var(--space-xs) - (2 * var(--progress-bar-border-size)));
  --progress-bar-small-size-radius: var(--space-xs);
  --progress-bar-spacing-size: var(--space-xs);
  --progress-bar-transition: width 0.5s ease-out;
  --progress-track-border-color: var(--ilo-color-gray-charcoal);
  --progress-track-bg-color: var(--ilo-color-gray-base);

  max-inline-size: 25rem;

  &__confirm {
    .js & {
      max-height: 10rem;
      transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;

      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }
}

/**
 * Password strength
 *
 * Description and strength indicator for the main input.
 */
.password-strength {
  /* Weak */
  --password-strength-bar-weak-bg-color: var(--ilo-color-red-dark);
  --password-strength-bar-weak-border-color: var(--ilo-color-red-dark);
  /* Fair */
  --password-strength-bar-fair-bg-color: var(--ilo-color-red);
  --password-strength-bar-fair-border-color: var(--ilo-color-red);
  /* Good */
  --password-strength-bar-good-bg-color: var(--ilo-color-yellow);
  --password-strength-bar-good-border-color: var(--ilo-color-yellow);
  /* Strong */
  --password-strength-bar-strong-bg-color: var(--ilo-color-green);
  --password-strength-bar-strong-border-color:  var(--ilo-color-green);
  margin-block: 0;

  &__meter {
    height: var(--progress-bar-small-size);
    //margin-block: var(--progress-bar-spacing-size);
    border: var(--progress-bar-border-size) solid var(--progress-track-border-color);
    border-radius: var(--progress-bar-small-size-radius);
    background-color: var(--progress-track-bg-color);

    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }

  /* Password strength states */

  &__indicator {
    min-inline-size: var(--progress-bar-small-size);
    height: 100%;
    //margin: calc(var(--progress-bar-border-size) * -1);
    transition: var(--progress-bar-transition);
    border: var(--progress-bar-border-size) solid transparent;
    border-radius: var(--progress-bar-small-size-radius);
    background-color: transparent;

    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &.is-weak {
      border-color: var(--password-strength-bar-weak-border-color);
      background-color: var(--password-strength-bar-weak-bg-color);
    }

    &.is-fair {
      border-color: var(--password-strength-bar-fair-border-color);
      background-color: var(--password-strength-bar-fair-bg-color);
    }

    &.is-good {
      border-color: var(--password-strength-bar-good-border-color);
      background-color: var(--password-strength-bar-good-bg-color);
    }

    &.is-strong {
      border-color: var(--password-strength-bar-strong-border-color);
      background-color: var(--password-strength-bar-strong-bg-color);
    }
  }

  &__title {
    overflow: hidden;
    margin-block: var(--progress-bar-spacing-size);

    /* Mimic .ilo--form-control--helper font style */
    @include font-styles("body-xxs");

    .is-initial.is-password-empty & {
      margin: 0;
      line-height: 0;
    }
  }

  &__text {
    font-weight: bold;
  }
}

@media (forced-colors: active) {
  .password-strength__indicator.is-weak,
  .password-strength__indicator.is-fair,
  .password-strength__indicator.is-good,
  .password-strength__indicator.is-strong {
    background-color: canvastext;
  }

  .is-initial .password-strength__indicator {
    border-color: transparent;
    background-color: transparent;
  }
}

/**
 * Password confirm message.
 *
 * This is the description-like message on the bottom of the password confirm
 * input.
 */
.password-confirm-message {
  margin-block: 0;
  /* Mimic .ilo--form-control--helper font style */
  @include font-styles("body-xxs");
}

.is-confirm-empty .password-confirm-message {
  visibility: hidden;
}

[data-drupal-selector="password-match-status-text"] {
  display: inline-block;
  font-weight: bold;

  &::first-letter {
    text-transform: uppercase;
  }
}

/**
 * Password suggestions.
 *
 * Tips for improving the password.
 */
.password-suggestions {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--ilo-color-gray-base);
  border-radius: var(--ilo-border-radius);
  background-color: var(--ilo-color-gray-light);
  /* Mimic .ilo--form-control--helper font style */
  @include font-styles("body-xxs");

  &__tips {
    margin-block-start: var(--space-xs);
    margin-inline-start: var(--space-l);
  }
}

