/**
 * @file
 * Visual styles for the Password widgets.
 *
 * @TODO: to be reviewed after SASS compiler will be active.
 */

/**
 * Password confirm widget styles.
 */

.password-confirm {
  max-inline-size: 25rem;
}

.password-confirm input {
  width: 100%;
}

.password-confirm__password {
  margin-block-end: 0;
}

.password-confirm__confirm {
  margin-block-end: 0;
}

.js .password-confirm__confirm {
  max-height: 10rem;
  transition:
    max-height var(--speed-transition) ease-in-out,
    margin var(--speed-transition) ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .js .password-confirm__confirm {
    transition: none;
  }
}

/* Password confirm widget states. */

/*.js .is-initial:not(.form-item--error) .form-item__description {*/
/*  margin-block-start: 0;*/
/*}*/

/*.js .is-initial.is-password-empty.is-confirm-empty:not(.form-item--error) .password-confirm__confirm {*/
/*  display: none;*/
/*  max-block-size: 0;*/
/*  margin-block-start: 0;*/
/*}*/

/**
 * Password strength
 *
 * Description and strength indicator for the main input.
 */

.password-strength {
  /* Weak */
  --password-strength-bar-weak-bg-color: red;
  --password-strength-bar-weak-border-color: red;
  /* Fair */
  --password-strength-bar-fair-bg-color: orange;
  --password-strength-bar-fair-border-color: orange;
  /* Good */
  --password-strength-bar-good-bg-color: yellow;
  --password-strength-bar-good-border-color: yellow;
  /* Strong */
  --password-strength-bar-strong-bg-color: green;
  --password-strength-bar-strong-border-color: green;

  margin-block: var(--progress-bar-spacing-size);
}

.password-strength__track {
  height: var(--progress-bar-small-size);
  margin-block: var(--progress-bar-spacing-size);
  border: var(--progress-bar-border-size) solid var(--progress-track-border-color);
  border-radius: var(--progress-bar-small-size-radius);
  background-color: var(--progress-track-bg-color);
}

.password-strength__track::after {
  display: table;
  clear: both;
  content: "";
}

/* Password strength states */

.password-strength__indicator {
  min-inline-size: var(--progress-bar-small-size);
  height: 100%;
  margin: calc(var(--progress-bar-border-size) * -1);
  transition: var(--progress-bar-transition);
  border: var(--progress-bar-border-size) solid transparent;
  border-radius: var(--progress-bar-small-size-radius);
  background-color: transparent;
}

.password-strength__indicator.is-weak {
  border-color: var(--password-strength-bar-weak-border-color);
  background-color: var(--password-strength-bar-weak-bg-color);
}

.password-strength__indicator.is-fair {
  border-color: var(--password-strength-bar-fair-border-color);
  background-color: var(--password-strength-bar-fair-bg-color);
}

.password-strength__indicator.is-good {
  border-color: var(--password-strength-bar-good-border-color);
  background-color: var(--password-strength-bar-good-bg-color);
}

.password-strength__indicator.is-strong {
  border-color: var(--password-strength-bar-strong-border-color);
  background-color: var(--password-strength-bar-strong-bg-color);
}

@media screen and (prefers-reduced-motion: reduce) {
  .password-strength__indicator {
    transition: none;
  }
}

.password-strength__title {
  overflow: hidden;
  margin-block: var(--progress-bar-spacing-size);
  color: var(--progress-bar-description-color);

  /* Mimic .ilo--form-control--helper font style */
  font-size: 11.94px;
  letter-spacing: normal;
  line-height: 16.24px;
}

.is-initial.is-password-empty .password-strength__title {
  margin: 0;
  line-height: 0;
}

.password-strength__text {
  color: var(--progress-bar-label-color);
  font-weight: bold;
}

@media (forced-colors: active) {
  .password-strength__indicator.is-weak,
  .password-strength__indicator.is-fair,
  .password-strength__indicator.is-good,
  .password-strength__indicator.is-strong {
    background-color: canvastext;
  }

  .is-initial .password-strength__indicator {
    border-color: transparent;
    background-color: transparent;
  }
}

/**
 * Password confirm message.
 *
 * This is the description-like message on the bottom of the password confirm
 * input.
 */

.password-confirm-message {
  margin-block: var(--progress-bar-spacing-size);
  color: var(--progress-bar-description-color);

  /* Mimic .ilo--form-control--helper font style */
  font-size: 11.94px;
  letter-spacing: normal;
  line-height: 16.24px;
}

.is-confirm-empty .password-confirm-message {
  visibility: hidden;
}

[data-drupal-selector="password-match-status-text"]  {
  display: inline-block;
  color: var(--progress-bar-label-color);
  font-weight: bold;
}

[data-drupal-selector="password-match-status-text"]:first-letter {
  text-transform: uppercase;
}

/**
 * Password suggestions.
 *
 * Tips for improving the password.
 */

.password-suggestions {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--progress-bar-description-color);
  border: 1px solid #DDD;
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);

  /* Mimic .ilo--form-control--helper font style */
  font-size: 11.94px;
  letter-spacing: normal;
  line-height: 16.24px;
}

.password-suggestions__tips {
  margin-block-start: var(--space-xs);
  margin-inline-start: var(--space-l);
}
