<div class="js-form-item form-item js-form-type-textfield form-item-textfield js-form-item-textfield">


  <!-- THEME DEBUG -->
  <!-- THEME HOOK: 'form_element_label' -->
  <!-- BEGIN OUTPUT from 'core/modules/system/templates/form-element-label.html.twig' -->
  <label for="edit-textfield--2">Textfield</label>
  <!-- END OUTPUT from 'core/modules/system/templates/form-element-label.html.twig' -->


  <!-- THEME DEBUG -->
  <!-- THEME HOOK: 'input__textfield' -->
  <!-- FILE NAME SUGGESTIONS:
   ▪️ input--textfield.html.twig
   ✅ input.html.twig
  -->
  <!-- BEGIN OUTPUT from 'core/modules/system/templates/input.html.twig' -->
  <input data-drupal-selector="edit-textfield"
         aria-describedby="edit-textfield--2--description"
         type="text"
         id="edit-textfield--2"
         name="textfield"
         value="Troua thilod sobrithasheg"
         size="60"
         maxlength="128"
         class="form-text"
  />

  <!-- END OUTPUT from 'core/modules/system/templates/input.html.twig' -->


  <div id="edit-textfield--2--description" class="description">
    Antehabeo iusto jus ulciscor. Abluo dolor elit enim imputo praesent quibus sudo tego.
  </div>
</div>
